<h1> This is main Page</h1>
<hr/>
<h3> What is Razor ?</h3>
<h4> ANS : any language(c#)+ Html</h4>
<h5>To add c# code to html ,use at-the rate symbol,at-the-rate with brace brackets for multiline c#code</h5>
<hr/>
@{
    var message = "hello razor";

}
<input type="text" value="@message"/>
<br/>
<button onclick="alert('Ok')">Ok</button>"
<span style="background-color:green;color:yellow">@ViewBag.ReturnValue</span>
<hr/>
@{
    List<string> names = new List<string>();
    names.Add("Eeena");
     names.Add("Meena");
    names.Add("Reena");

}

<table>
    <tr>
        <td>Name</td>
</tr>


@foreach(var name in names)

{
    <tr><td>
   @Html.TextBoxFor(n=>name)  @*html helper- this function complies to html code*@
    </td></tr>
}
</table>